#nav-bar {
 position: fixed;
 height: 80px;
 background-color: #00a087;
 color: #e8fdff;
 padding: 0px 32px;
 width: 100%;
 top: 0;
 z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;

}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;
  padding-left: 10px;
}

#nav-bar .compose {
  float: right;
  font-size: 1.8em;
  padding: 10px;
  border-radius: 5%;
  background: white;
  color: #2C8E81;
  border: 1px solid black;
  margin-top: 10px;

}

#nav-bar .compose:hover {
  background: white;
  color: black;
}