



/* Components */

a {
  text-decoration: none;
}


.tweet {
  background: rgb(245, 248, 250);
  position: relative;
  border-radius: 10px;
  border: 1px solid lightgrey;
  opacity: 0.6;
  margin-bottom: 20px;
}

.tweet:hover {
  opacity: 1;
}

.tweet-header {
  background: #eee;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px
}

.tweet-footer{
  border-top: 1px solid lightgrey;
  padding: 10px;
}

.tweet-header:after,
.tweet-footer:after {
  content: "";
  display: table;
  clear: both;
}


.user-avatar {
  border-radius: 10%;
  display: block;
  float: left;
  margin: 8px;
}

.user-handle {
  text-decoration: none;
  font-weight: normal;
  color: #008080;
  position: absolute;
  right: 24px;
  margin-top: 15px;
  float: right;
}

.user-name {
  font-weight: bold;
  color:rgb(36, 71, 81);
  float: left;
  font-size: 24px;
  margin: 10px;
  text-decoration: none;
}

article.tweet .icon a {
  color: red;
  visibility: hidden;
}

article.tweet:hover .icon a {
  visibility: visible;
}

/*.icon a.tweet-action{
  color: rgb(101, 119, 134);
  float: right;

}*/

.tweet-action {
  padding: 2px;
}

.tweet-timestamp {
  padding-right: 10px;
  text-decoration: none;
  display: block;
}
.icon {
  float: right;
}

.tweet-content {
  font-size: 21px;
  line-height: 28px;
  padding: 30px;
  overflow-wrap: break-word;
}
